<div id="Home">
  <p>aec dum oriens diu perferret, caeli reserato tepore Constantius consulatu suo septies et Caesaris ter egressus Arelate Valentiam petit, in Gundomadum et Vadomarium fratres Alamannorum reges arma moturus, quorum crebris excursibus vastabantur confines limitibus terrae Gallorum.</p>
  <div class="allRound">
    <div class="section">
      <div class="round"></div>
      <h4>Blabla</h4>
      <p>blablablablabla</p>
    </div>

    <div class="section">
      <div class="round"></div>
      <h4>Blabla</h4>
      <p>blablablablabla</p>
    </div>

    <div class="section">
      <div class="round"></div>
      <h4>Blabla</h4>
      <p>blablablablabla</p>
    </div>
  </div>
</div>