body, *{font-family: 'Arial', impact}

.header{
  background-color: #eef0f5;
  font-family: Arial, sans-serif;
  position: relative;
  background-image: url(../assets/img/fond.jpg);
  height: 200px;
  background-repeat: no-repeat;
  background-size: contain;

  nav{

  }
}
.content{
  background-color: #eef0f5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}


