.header{
  img{
    width: 100vw;
    object-fit: contain;
  }
}

.content{
  background-color: #eef0f5;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  align-items: initial;
}


