nav{
  margin: 10px;
  display: flex;
  align-items: center;

  a{
    color: #fff;
    margin: 0px 15px;
  }

  a:nth-of-type(2){
    flex: 1;
  }

  i{
    color: #fff;
    margin-right: 10px;
  }

  button{
    color: #fff;
    border: none;
    background-color: #37cce5;
    padding: 7px;
    border-radius: 15px;
  }

  .dropdown{
    margin-right: 10px;
  }
}